apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: firefly
  namespace: firefly
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
  - host: firefly.mariencluster.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: firefly
            port:
              number: 8080